@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700,800');


/* general styling */
*, *:before, *:after {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	background:#E9DED7;
	color: #425F5E;
	font-family: 'Raleway', sans-serif;
}
input[type="submit"] {
	display: block;
	margin-top: 2rem;
}

/* todo app styling */
.todo-app {
	max-width: 900px;
	min-height: 100%;
	margin: 0 auto;
	padding: 2em;
	background: #EBCFC3;
}
.title{
	font-weight: 800;
	text-align: center;
}
.todo-list {
	padding: 0;
	margin: 1rem 0;
	list-style: none;
}
.todo {
	padding: 0.5em 0;
}
 
.todo input{
	font-size: 3em;
}

.todo_btn{
	background: #93A79D;
	border: none;
	border-radius: 10px;
	padding: 1em;
	color: white;
	font-size: .8em;
	box-shadow: 2px 2px 2px 0px #425F5E;
}

.todo_btn:hover{
	cursor: pointer;
	text-decoration: underline;
}

.activeBtn{
	background: #425F5E;
	border: none;
	border-radius: 10px;
	padding: 1em;
	color: white;
	font-size: .8em;
}

@media (min-width: 600px) {
	.todo-list {
		font-size: 0;
	}
	.todo {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: initial;
	}
}
.todo-wrapper {
	display: table;
	width: 100%;
	table-layout: fixed;
}
.todo-label,
.todo-remove {
	display: table-cell;
}
.todo-remove {
	width: 3em;
}
.todo-removeBtn {
	background: none;
	border: none;
	font-size: 1em;
}

.todo-removeBtn:hover {
	cursor: pointer;
}

.todo-removeIcon:before {
	display: block;
	content: "\2716";
	color: #425F5E;
}


.todo-removeText {
	position: fixed;
	height: 0;
	width: 0;
	text-indent: -9999em;
}

/* modal styling */
.modal-container {
	display: none;
	position: relative;
	top: 6rem;
	min-height: 40%;
	width: 50%;
	margin: auto;
	padding: 1.5em;
	background: white;
	box-shadow: 2px 2px 2px 4px grey;
	margin-bottom: 5rem;
}
.modal-header {
	display: table;
	width: 100%;
	padding-bottom: 1rem;
}

.modal-headerText {
	display: table-cell;
	text-align: center;
	padding-bottom: 1em;
}
.modal-closeBtn {
	display: table-cell;
	width: 1.25em;
	height: 1.25em;
	background: none;
	border: none;
	font-size: 1.25em;
}
.modal-closeIcon:before {
	display: block;
	content: "\2716";
	color: #425F5E;
}
.modal-closeText {
	position: fixed;
	height: 0;
	width: 0;
	text-indent: -9999em;
}

.js_modal-form{
	margin-left: 3em;
}

.modal-formAlert {
	display: none;
	color: darkred;
}
.modal-formAlert p {
	margin: 0 0 1rem;
}
.modal-formAlert.isShown {
	display: block;
}
.modal-container.isOpen {
	display: block;
}
.todo-app.hasOpenModal {
	position: fixed;
}
@media (min-width: 900px) {
	.todo-app.hasOpenModal {
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 900px;
	}
}
.todo-template {
	display: none;
}

#todo-input{
	margin-left: 1em;
	border: 1px solid black;
	padding: 5px;
}

